# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# iOS
*.xcuserstate
*.xcworkspace
xcuserdata/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
Pods/
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local

# AWS
.aws-sam/

# Logs
*.log
